body{
    padding-top: 70px; 
}
.jumbotron {
    color: #ffff; 
    background: #ffff;
 }
 .navbar-inverse{
     background: #ffff; 
 }

 a{
     color: white;
 }

 .navbar-inverse .navbar-nav>li>a{
     color: white;
 }
 .navbar-inverse .navbar-brand{
     color:white; 
 }
